@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p style="width:100%; height:500px;">
    we are manufacturers and worldwide
    exporters of quality SPorts Wear,Casual Wear,Martial Uniform,Fitness Wear,Fight Wear, Kevlar Garments, Motorbike Garments and Boxing Products,We uses the highest technology, quality materials and skilled workforce to mnaufacture the hgh quality products.We have strong desire to supply our customer with better quality products and service . Customers ideas,design and sample are welcome.We turn customer ideas into reality..
</p>
