@model IEnumerable<E_Commerce.Models.CardModel>
@{
    ViewBag.Title = "Cart";

}

<h2>Cart</h2>


<div class="container" style="text-align:center; height:500px;">
    <a href="@Url.Action("Index","Home")" class="btn btn-default" style="height:50px; width:180px; padding-top:13px; margin-top:200px;">Add Something In Cart</a>
</div>



@section scripts{

    <script>
 
    </script>





} 